* {
  margin: 0;
  padding: 0; 
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  margin: auto;
  background:#fff4df;
  font-family: 'Inter', sans-serif;
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}
body p{
  color: black;
  font-size: 16px;
}

/*------------------------ Swiper---------------------------------------------- */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* slide centrer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------Présentation----------------- */

.presentation-card {
  width: auto;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  display: block;
  margin: auto;
  scroll-behavior: smooth;
  
}
.presentation-card-title {
  /* margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.2rem; */
  
}
.presentation-card-title h1{
  color:black;
  font-size: 10vw;
  text-align: center;
  -webkit-text-stroke: 2px #F0E6C5;
  -webkit-text-fill-color: transparent;
  color: transparent; 
}
.presentation-card-title h2{
  color:black;
  font-size: 2vw;
  text-align: center;
}

/* Presentation card contenu */
.presentation-card-contenu{
  display: flex;
  width: auto;
}
.presentation-card-contenu-texte{
  justify-content: center;
  width: 100%;
  margin-left: 20%;
}
.presentation-card-contenu-texte p{
  color:black;
  font-size: 1em;
}

.presentation-card-contenu-texte p::first-letter{
  font-size: calc(60px + 0.75vw);
  line-height: 40px;
  color: #F0E6C5
}
.presentation-card-contenu-image{
  width: 100%;
}
.presentation-card-contenu-image img {
  height: 200px;
  width: 200px;
  border-radius:8rem;
 margin:auto;
}



/* ::::::::::::::::::::::::::::::::::::::::: */




/* .::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Projet */

.projet-title h2{
  text-align: center;
  padding-bottom: 2%;
  color:black;
  font-size: 3rem;
}
.projet-title p{
  text-align: center;
  color:#F0E6C5;
  font-size: 1rem;
}

/* Projet section  */
.projet-title-section p{
  padding-bottom: 20px;
  padding-top: 10px;
  font-weight:bold;
  color: #0A53C2;
}



.projet-contenue{
  display: flex;
  padding-bottom: 2%;
  
}
/* Card */
.card {
  height: 400px;
  width: 300px;
  margin: auto;
  border: 6px solid #F0E6C5;
  padding-bottom: 2%;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px;
  margin-right: 20px;
}
.card img{
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
  width: 100%;
}
.card__details{
  padding:2%;
}
.card__details .tag {
  padding: 4px 8px;
  border: 2px solid #F0E6C5;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: #F0E6C5;
  cursor: pointer;
}
.card__details .tag:hover{
  background-color: #0A53C2;
  color: white;
  transition: all 1s ease-out;
}
.texte {
  display: block;
  width: 50%;
}
.card__details h3 {
  color:#0A53C2;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card__details p {
  padding: 5px;
  color: black;
  text-align: center;
  font-size: 0.75rem;
  font-style: italic;
}

/* Competence */

.skill-title h2{
  
  color:black;
  font-size: 3rem;
  margin-bottom: 20px;

}
.skill-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap:50px;
  
}
.skill-images img{
  height: 70px;
  width: 70px;

}
.skill-images img{
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */

}


/* Icon */
.contact-icon{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  bottom: 20%;
}
.contact-icon img{
  width: 40px;
  height: 2rem;
  margin: auto;  
}

/* github + linkedIn + twitter */
.contact-github, .contact-linkedin, .contact-twitter{
  padding-bottom: 30%;
}
/* github + linkedIn + twitter */
.contact-github:hover, .contact-linkedin:hover, .contact-twitter:hover{
  transform: scale(1.5);
}

/* BTN comeback */
.comeback {
  height: 5%;
  width: 100%;
  display: flex;
  padding-top: 1%;
}

button {
  background-color: white;
  border: 0px;
  margin: auto;
  padding: 1%;
  border-radius: 8px;
  border: 4px solid white;
  justify-content: center;
  width: 150px;
  height: 50px;
  
}

.comeback img {
  height: 15px;
  width: 15px;
}

.comeback a {
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Footer */

footer{
  display: block;
  background-color:#0A53C2;
  height: 70vh;
  width: 100%;
  
}
.logo img{
  margin: auto;
  padding-top: 10%;
  width: 100px;
  height: 100px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Responsive laptop */
@media screen and (max-width: 1024px){
}


/* Responsive tablette */
@media screen and (max-width: 768px){

  /* Presentation */
  .presentation-card{
    width: 225px;
  }
  
  .presentation-card-title h1{
    font-size: 4.5rem;
  }
  .presentation-card-title h2{
    font-size: 1rem;
    padding-top: 10%;
  }
  .presentation-card-contenu{
    display: inline-block;
    margin: auto;    
  }
  .presentation-card-contenu-texte p{
  
    font-size: 0.75rem;
    
  }
  .presentation-contenu2 img{
    opacity: 1;
  }

  


/* Responsive mobile */




@media screen and (max-width: 400px){

  
  
  .projet{
    height: auto;
    width: 225px;
  }
  
  .contact{
    height: 180px;
  }
}

  /* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
  /* Mobile M  */
@media screen and (max-width: 375px){

  
 
  /* Projets */

  /* .projet-title h2{
    font-size: 1em;
  }
  .projet{
    height: 620px;
    width: 225px;
  } */
  /* Card */
  .card {
    border: 3px solid #C2850A;
    padding-bottom: 2%;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .card img{
    border-radius: 12px;
    height: 107px;
    object-fit: cover;
    width: 100%;
  }
  .card__details .tag {
    padding: 4px 10px;
    border: 1px solid #C2850A;
    border-radius: 50px;
    font-size: 0.5rem;
    font-weight: 800;
    color: #C2850A;
    cursor: pointer;
  }
  .card__details h3 {
    font-size: 1rem;
  }

  /* Contact */
  .contact-title h2{
    font-size: 1rem;
  }
  .contact p{
    font-size: 0.5rem;
  }
  /* Icon */
  .contact img{
    height: 25px;
    width: 25px;
    padding-left: 10%;
  }
}
}